@{
  Layout = "_Layout";
}
<h1>Welcome to My Record Collection</h1>
<h3>Don't touch anything</h3>
<a href="/artists"><button class="btn btn-primary">See All Artists</button></a>
<br>
<a href="/artists/new"><button class="btn btn-success">Add New Artist</button></a>