@{
  Layout = "_Layout";
}

@using MusicOrganizer.Models;

<h1>@Model["artists"].ArtistName</h1>


@foreach (Records record in @Model["records"])
{
  <a href='/artists/@Model["artists"].Id/records/@record.Id'><button class="btn btn-outline-info btn-sm">@record.RecordName</button></a>
}

<p><a href='/artists/@Model["artists"].Id/records/new'>Add a new record</a></p>
<p><a href='/artists'>Return to artists page</a></p>